@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url(/src/assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    /* ---TYPOGRAPHY--- */
    --font-sans: 'Inter', sans-serif;

    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 2.25rem;
    --text-4xl: 3rem;

    --leading-h1: 1.1;
    --leading-h2: 1.2;
    --leading-h3: 1.3;
    --leading-body: 1.5;
    --leading-ui: 1;
    --leading-secondary: 1.4;

    --tracking-tighter: -0.02em;
    --tracking-tight: -0.01em;
    --tracking-normal: 0em;
    --tracking-wide: 0.01em;
    --tracking-wider: 0.02em;


    /* ---COLORS--- */

    /* ---PRIMITIVE--- */

    /* neutral */
    --color-neutral-50: hsl(240 4.3% 95.5%);
    --color-neutral-100: hsl(240 4% 90.2%);
    --color-neutral-200: hsl(240 4.3% 81.6%);
    --color-neutral-300: hsl(240 2.8% 72.2%);
    --color-neutral-400: hsl(240 3.7% 62.9%);
    --color-neutral-500: hsl(240 3.5% 54.9%);
    --color-neutral-600: hsl(240 3.8% 46.1%);
    --color-neutral-700: hsl(240 5.6% 34.9%);
    --color-neutral-800: hsl(240 6.7% 23.5%);
    --color-neutral-900: hsl(240 7.5% 13.1%);
    --color-neutral-950: hsl(240 9.5% 8.2%);

    /* brand */
    --color-brand-50: hsl(254.3 67.7% 93.9%);
    --color-brand-100: hsl(254.6 67.2% 88%);
    --color-brand-200: hsl(256.5 67.8% 76.9%);
    --color-brand-300: hsl(259.8 66.1% 64.1%);
    --color-brand-400: hsl(263.1 55.6% 49.4%);
    --color-brand-500: hsl(263.1 59.5% 30%);
    --color-brand-600: hsl(262.8 61.2% 25.3%);
    --color-brand-700: hsl(263.1 64.4% 19.8%);
    --color-brand-800: hsl(262.6 67.1% 15.5%);
    --color-brand-900: hsl(262.7 75.5% 9.6%);
    --color-brand-950: hsl(258.5 81.3% 6.3%);

    /* success */
    --color-success-50: hsl(142.1 70.6% 95.3%);
    --color-success-500: hsl(142.1 70.6% 45.3%);
    --color-success-950: hsl(143.8 85.7% 8.2%);

    /* error */
    --color-error-50: hsl(0 85.7% 97.3%);
    --color-error-500: hsl(0 84.2% 60.2%);
    --color-error-700: hsl(0 74% 42%);
    --color-error-950: hsl(0 91.9% 10.4%);

    /* warning */
    --color-warning-50: hsl(37.9 92.1% 95.1%);
    --color-warning-500: hsl(37.9 92.1% 50.2%);
    --color-warning-950: hsl(38.3 90.3% 12.2%);

    /* info */
    --color-info-50: hsl(213.1 93.9% 93.5%);
    --color-info-500: hsl(213.1 93.9% 50.2%);
    --color-info-950: hsl(214.3 88.2% 13.3%);

    /* ---SEMANTIC--- */

    /* background */
    --color-page: var(--color-neutral-950);
    --color-surface: var(--color-neutral-900);
    --color-input: var(--color-neutral-800);
    --color-hover: var(--color-neutral-700);

    --color-success: var(--color-success-950);
    --color-error: var(--color-error-950);
    --color-warning: var(--color-warning-950);
    --color-info: var(--color-info-950);

    /* border */
    --color-border: var(--color-neutral-600);
    --color-border-success: var(--color-success-500);
    --color-border-error: var(--color-error-500);
    --color-border-warning: var(--color-warning-500);
    --color-border-info: var(--color-info-500);

    /* text */
    --color-heading: var(--color-neutral-50);
    --color-body: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-400);
    --color-placeholder: var(--color-neutral-300);
    --color-disabled: var(--color-neutral-500);
    --color-status-success: var(--color-success-50);
    --color-status-error: var(--color-error-50);
    --color-status-warning: var(--color-warning-50);
    --color-status-info: var(--color-info-50);

    /* primary button */
    --color-primary-btn: var(--color-brand-600);

    /* secondary button */
    --color-secondary-btn: color-mix(in srgb, var(--color-neutral-900), transparent 40%);
    --color-secondary-btn-hover: color-mix(in srgb, var(--color-neutral-950), transparent 20%);

    /* brand */
    --color-primary: var(--color-brand-500);
    --color-primary-hover: var(--color-brand-600);
    --color-primary-subtle: var(--color-brand-700);


    /* ---BORDER--- */
    --border-divider: 1px solid var(--color-border);
    --border-container: 2px solid var(--color-border);
    --border-container-success: 2px solid var(--color-success-500);
    --border-container-error: 2px solid var(--color-error-500);
    --border-container-warning: 2px solid var(--color-warning-500);
    --border-container-info: 2px solid var(--color-info-500);


    /* ---RADIUS--- */
    --rounded-sm: 0.25rem;
    --rounded-md: 0.5rem;
    --rounded-lg: 0.75rem;
    --rounded-xl: 1rem;
    --rounded-pill: 9999px;
    --rounded-circle: 50%;


    /* ---BOX SHADOW--- */
    --shadow-primary-btn: 0 4px 12px rgba(0, 0, 0, 0.5);


    /* ---HEADER--- */
    --site-header-height: clamp(4rem, 3.714rem + 1.429vw, 5rem);

}

@custom-variant home ([data-state='home'] &);
@custom-variant movies ([data-state='movies'] &);
@custom-variant tv-shows ([data-state='tv-shows'] &);
@custom-variant details ([data-state='details'] &);
@custom-variant search ([data-state='search'] &);
@custom-variant watchlist ([data-state='watchlist'] &);
@custom-variant watchlist-movies ([data-state='watchlist-movies'] &);
@custom-variant watchlist-tv-shows ([data-state='watchlist-tv-shows'] &);
@custom-variant profile ([data-state='profile'] &);
@custom-variant error ([data-state='error'] &);
@custom-variant not-found ([data-state='not-found'] &);


@layer base {
    *:not(html):not(body)::-webkit-scrollbar {
        display: none;
    }

    *:not(html):not(body) {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    html:has(body:is([data-state="home"],
            [data-state="movies"],
            [data-state="tv-shows"],
            [data-state="details"],
        )) {
        scrollbar-gutter: stable;
    }

    body {
        position: relative;
        font-family: var(--font-sans);
        font-size: var(--text-base);
        font-weight: var(--font-regular);
        line-height: var(--leading-body);
        letter-spacing: var(--tracking-normal);
        color: var(--color-body);
        background-color: var(--color-page);
    }

    h1 {
        font-size: clamp(2rem, 1.714rem + 1.429vw, 3rem);
        font-weight: var(--font-semibold);
        line-height: var(--leading-h1);
        letter-spacing: var(--tracking-tighter);
    }

    h2 {
        font-size: clamp(1.5rem, 1.286rem + 1.071vw, 2.25rem);
        font-weight: var(--font-medium);
        line-height: var(--leading-h2);
        letter-spacing: var(--tracking-tight);
    }

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }

    button {
        font: inherit;
        color: inherit;
        cursor: pointer;
    }

    svg {
        aspect-ratio: 1/1;
        fill: var(--color-neutral-400);
    }
}

@layer components {

    /* ---ANIMATIONS--- */

    @keyframes shimmer-move {
        0% {
            background-position: 200% 0;
        }

        100% {
            background-position: -200% 0;
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes content-reveal {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

}


/* ---BUTTONS--- */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid transparent;
    border-radius: var(--rounded-md);

    font-weight: var(--font-semibold);
    line-height: var(--leading-ui);
    text-align: center;

    cursor: pointer;

    will-change: transform;
    transition: border-color 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
    backface-visibility: hidden;
    perspective: 1000px;

    &:hover:not(.watchlist__sort-btn) {
        transform: scale(1.1);
    }

    &.force-reset {
        transform: scale(1) !important;
        transition: none !important;
    }
}

.btn:has(.btn__icon):not(.watchlist__sort-btn) {
    gap: 0.5rem
}

.btn--primary {
    background-color: var(--color-primary-btn);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.btn--secondary {
    border-color: var(--color-neutral-500);
    background-color: var(--color-secondary-btn);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    &:hover:not(.watchlist__sort-btn) {
        border-color: var(--color-neutral-400);
        background-color: var(--color-secondary-btn-hover);
    }
}

.btn__icon {
    width: clamp(1rem, 0.93rem + 0.36vw, 1.25rem);
    height: auto;
}

.btn__icon--light {
    fill: var(--color-neutral-100)
}

.btn__icon--sort {
    fill: var(--color-brand-400)
}

.watchlist-btn.is-loading> :nth-child(n) {
    opacity: 0.4;
}

.watchlist-btn--badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
    right: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
    width: clamp(2rem, 1.86rem + 0.71vw, 2.5rem);
    height: clamp(2rem, 1.86rem + 0.71vw, 2.5rem);
    padding: 0.5rem;
    border: 2px solid var(--color-border);
    border-radius: var(--rounded-md);
    background-color: var(--color-neutral-950);
    backdrop-filter: blur(8px);
}

.watchlist-btn.is-loading .btn__icon {
    opacity: 0.4;
}

.watchlist-btn__icon-add.is-hidden {
    display: none;
}

.watchlist-btn__icon-check {
    display: none;
    fill: var(--color-success-500)
}

.watchlist-btn__icon-check.is-visible {
    display: block;
}


/* ---SCROLL---- */

.scroll-container {
    position: absolute;
    top: 0;
    width: clamp(2.5rem, 0.786rem + 3.571vw, 4rem);
    height: 100%;
}

.scroll-btn {
    cursor: pointer;
}

.scroll-btn__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5rem;
    fill: var(--color-neutral-50);
}


/* ---SECONDARY TEXT--- */

.text-secondary {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    line-height: var(--leading-secondary);
    color: var(--color-neutral-200);
}


/* ---UTILITIES--- */

.shimmer {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg,
            rgba(20, 20, 20, 1) 25%,
            rgba(255, 255, 255, 0.015) 50%,
            rgba(20, 20, 20, 1) 75%);
    background-size: 200% 100%;
    animation: shimmer-move 2s infinite linear;
}

.spinner {
    width: 2.5rem;
    height: 2.5rem;
    border: 4px solid var(--color-neutral-600);
    border-top-color: var(--color-brand-500);
    border-radius: var(--rounded-circle);

    animation: spin 1s linear infinite;
}

.meta-row {
    display: flex;
    gap: 0.5rem;
}

.meta-certification {
    padding-inline: 4px;
    border: 1px solid var(--color-neutral-600);
    border-radius: var(--rounded-sm);
}

.no-smooth {
    scroll-behavior: auto !important;
}



/* ---Header & Nav--- */

.site-header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    min-height: var(--site-header-height);
    padding-top: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    padding-bottom: 1rem;
    @apply content-padding;
    background-color: transparent;
    transition: transform 0.2s ease, background-color 0.3s ease;
    will-change: transform;
}

body:is([data-state='watchlist'], [data-state='watchlist-movies'], [data-state='watchlist-tv-shows']) .site-header {
    background-color: color-mix(in srgb, var(--color-neutral-950) 80%, transparent);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

body:is([data-state='watchlist'],
    [data-state='watchlist-movies'],
    [data-state='watchlist-tv-shows']) .site-header.is-stuck {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.site-mobile-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: color-mix(in srgb, var(--color-neutral-950) 80%, transparent);
    backdrop-filter: blur(12px);
}

body:not(:is([data-state='home'], [data-state='movies'], [data-state='tv-shows'], [data-state='search'], [data-state='watchlist'], [data-state='watchlist-movies'], [data-state='watchlist-tv-shows'], [data-state='error'])) .site-header,
body:not(:is([data-state='home'], [data-state='movies'], [data-state='tv-shows'], [data-state='search'], [data-state='watchlist'], [data-state='watchlist-movies'], [data-state='watchlist-tv-shows'], [data-state='error'])) .site-mobile-navigation {
    display: none
}

.site-header.is-scrolled {
    background-color: color-mix(in srgb, var(--color-neutral-950) 80%, transparent);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.site-header.is-hidden {
    transform: translateY(-100%);
    pointer-events: none;
}

body:is([data-state="error"]) .error-header {
    display: block;
}

.nav-item {
    padding-bottom: 4px;
    font-weight: var(--font-medium);
    line-height: var(--leading-ui);
    color: var(--color-disabled);
}

body:not([data-state='movies'], [data-state="tv-shows"]) .filter-tabs-container {
    display: none !important;
}


/* ---FEATURED--- */

.featured {
    position: relative;
    width: 100dvw;
    height: 80dvh;
    min-height: 400px;
}

.featured__slider {
    display: flex;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.featured__item-skeleton {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.featured__item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    animation: content-reveal 0.6s ease;
}

.featured__link {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5rem;
    padding-inline: clamp(1.5rem, 0.5rem + 5vw, 5rem);
}

.featured__link::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -10;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-color: var(--bg-color);
}

.featured__link.has-backdrop::before {
    background-image:
        linear-gradient(to bottom, var(--color-neutral-950), transparent 35%),
        linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        var(--bg-backdrop);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-blend-mode: multiply;
}

.featured__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.25rem;
}

.featured__title-container {
    width: 100%;
    max-width: clamp(15rem, 11.429rem + 17.857vw, 27.5rem);
    aspect-ratio: 5/1;
    object-fit: contain;
    object-position: left center;
}

.featured__title-container.is-loaded {
    aspect-ratio: auto;
}

.featured__title-img {
    animation: content-reveal 1s ease;
}

.featured__title-text.is-hidden {
    display: none;
}

.featured__title-text {
    animation: content-reveal 1s ease;
}

.featured__meta {
    color: var(--color-neutral-50) !important
}

.featured__overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    max-width: 600px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-align: center;
}

.featured__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featured__slider-scroll-container {
    display: none;
    z-index: 40;
}

.featured:has(.featured__item-skeleton) .featured__slider-scroll-container {
    display: none;
}

.featured__slider-scroll-container--prev {
    left: 0;
    background: linear-gradient(to right, var(--color-neutral-950) 0%, rgba(23, 23, 23, 0.4) 30%, transparent 100%);
}

.featured__slider-scroll-container--next {
    right: 0;
    background: linear-gradient(to left, var(--color-neutral-950) 0%, rgba(23, 23, 23, 0.4) 30%, transparent 100%);
}

.featured__slider-scroll-btn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


/* ---MEDIA CARDS--- */

.media-card__skeleton {
    min-width: clamp(7rem, 5.857rem + 5.714vw, 11rem);
    aspect-ratio: 2/3;
}

.media-card__skeleton-poster {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-neutral-800);
    border-radius: var(--rounded-md);
    scroll-snap-align: start;
}

.media-card__skeleton-poster::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='%239d9da4'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    opacity: 0.2
}

.media-card__skeleton-line {
    height: 1rem;
    margin-inline: auto;
    border: 1px solid var(--color-neutral-800);
    border-radius: var(--rounded-md);
}

.media-card__skeleton-line1 {
    width: 85%;
    margin-top: 0.5rem;
}

.media-card__skeleton-line2 {
    width: 55%;
    margin-top: 0.5rem;
}

.media-card__item {
    flex-shrink: 0;
    width: clamp(7rem, 5.857rem + 5.714vw, 11rem);
    height: auto;
    cursor: pointer;
    scroll-snap-align: start;
    transition: transform 300ms;
    animation: content-reveal 1s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.media-card__poster-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: var(--rounded-md);
    overflow: hidden;
}

.media-card__poster-wrapper--placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-neutral-600);
}

.media-card__poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-card__poster--placeholder {
    width: 65%;
    height: auto;
    margin-inline: auto;
    fill: var(--color-brand-500);
    object-fit: contain;
    opacity: 0.5
}

.media-card__content-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    min-height: 3em;
    margin-top: 0.75rem;

    overflow: hidden;
    text-align: center;
}

/* ---MEDIA SHELVES--- */

.media-shelves-container {
    @apply content-padding
}

.media-shelf {
    padding-top: clamp(1rem, 0.714rem + 1.429vw, 2rem);
}

.media-shelf__title {
    margin-bottom: clamp(0.5rem, 0.357rem + 0.714vw, 2rem);
}

.media-shelf__list {
    display: flex;
    gap: clamp(0.75rem, 0.607rem + 0.714vw, 1.25rem);
    overflow-x: auto;
    overflow-y: hidden;
    @apply py-5 -mt-5
}

.media-shelf__scroll-container--prev {
    left: 0;
    background: linear-gradient(to right, var(--color-neutral-950) 0%, transparent);
}

.media-shelf__scroll-container--next {
    right: 0;
    background: linear-gradient(to left, var(--color-neutral-950) 0%, transparent);
}

.media-shelf__scroll-btn {
    position: absolute;
    top: 20px;
    width: 100%;
    height: clamp(10.5rem, 8.786rem + 8.571vw, 16.5rem);
}


/* ---MEDIA DETAILS--- */

.media-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
}

.media-details:not(:has(.media-details__content)) {
    background-color: var(--color-page);
}

.media-details:has(.spinner) {
    align-items: center;
    justify-content: center;
}

.media-details::before,
.media-details::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -10;
}

.media-details::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-color: var(--bg-color);
    animation: content-reveal 0.6s ease forwards
}

.media-details.has-backdrop::after {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        var(--bg-backdrop);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: content-reveal 0.6s ease forwards
}

.media-details.has-poster-backdrop::before {
    background-image: none;
}

.media-details.has-poster-backdrop::after {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        var(--bg-backdrop);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    animation: content-reveal 0.6s ease forwards
}

.media-details__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    width: 100%;
    max-width: 680px;
    padding: clamp(1rem, 0.143rem + 4.286vw, 4rem);
    animation: content-reveal 0.6s ease forwards
}

.media-details__header {
    width: 100%;
    text-align: center;
}

.media-details__title-container {
    width: clamp(12.5rem, 9.643rem + 14.286vw, 22.5rem);
    aspect-ratio: auto;
    margin-inline: auto;
}

.media-details__title-container.is-waiting {
    aspect-ratio: 5/1;
}

.media-details__title-text {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease, visibility 0.8s ease, height 0.8s ease;
}

.media-details__title-img {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.media-details__title-container.is-waiting .media-details__title-text,
.media-details__title-container.has-delayed-logo .media-details__title-text,
.media-details__title-container.is-loaded .media-details__title-text {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.media-details__title-container.is-waiting .media-details__title-text {
    transition: none
}

.media-details__title-container.is-loaded .media-details__title-img,
.media-details__title-container.has-delayed-logo .media-details__title-img {
    visibility: visible;
    opacity: 1;
}

.media-details__tagline {
    margin-block: 1rem;
    font-style: italic;
}

.media-details__header:not(:has(.media-details__title-img)) .media-details__tagline {
    margin-top: 0.5rem;
}

.media-details__meta-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.media-details__genres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.media-details__genre-tag {
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--color-neutral-600);
    backdrop-filter: blur(8px);
    border-radius: var(--rounded-pill)
}

.media-details__actions {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.media-details__crew-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.media-details__crew-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.media-details__crew-label {
    white-space: nowrap;
}

.media-details__crew-name {
    white-space: nowrap;
}

.media-details__crew-divider {
    display: none;
}

.media-details__block-heading {
    display: block;
    margin-bottom: 0.5rem;

    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-wide);
    color: var(--color-neutral-400);
    text-transform: uppercase;
}

.media-details__ratings-section {
    width: 100%;
    max-width: 420px;
}

.media-details__ratings-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: var(--rounded-lg);
    background-color: color-mix(in srgb, var(--color-neutral-900) 60%, transparent);
    backdrop-filter: blur(12px);
}

.media-details__ratings-divider {
    height: 1px;
    margin-block: 1rem;
    background-color: var(--color-neutral-600);
}

.media-details__rating {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.media-details__rating-logo {
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
}

.media-details__rating-score {
    margin-left: auto;
}

.media-details__streaming-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;

    padding: 1rem 1rem 0.75rem;
    border-radius: var(--rounded-lg);

    background-color: color-mix(in srgb, var(--color-neutral-900) 60%, transparent);
    backdrop-filter: blur(12px);
}

.media-details__streaming-item {
    display: flex;
    flex-direction: column;
    width: 6rem;
}

.media-details__streaming-logo {
    width: 4rem;
    height: auto;
    margin-bottom: 0.5rem;
    margin-inline: auto;
    border-radius: var(--rounded-md);
    object-fit: cover;
}

.media-details__streaming-logo-img {
    border-radius: var(--rounded-md);
}

.media-details__streaming-logo-icon {
    width: 100%;
    height: auto;
}


.media-details__streaming-name {
    text-align: center;
}

.media-details__cast-section {
    width: max-content;
    max-width: 100%;
    overflow-x: auto;
}

.media-details__cast-list-container {
    position: relative;
    padding: 2rem 2rem 1rem;
    border-radius: var(--rounded-lg);
    background-color: color-mix(in srgb, var(--color-neutral-900) 60%, transparent);
    backdrop-filter: blur(12px);
}

.media-details__scroll-container {
    z-index: 10;
    width: 2.5rem;
}

.media-details__scroll-container--prev {
    left: 2rem;
}

.media-details__scroll-container--next {
    right: 2rem;
}

.media-details__scroll-btn {
    position: absolute;
    top: 2rem;
    bottom: 1rem;
    width: 100%;
}

.media-details__scroll-btn--prev {
    position: absolute;
    top: 2rem;
    bottom: 1rem;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-neutral-950) 0%, transparent);
}

.media-details__scroll-btn--next {
    position: absolute;
    top: 2rem;
    bottom: 1rem;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-neutral-950) 0%, transparent);
}

.media-details__cast-list {
    display: flex;
    align-items: flex-start;
    gap: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
    border-radius: var(--rounded-md);
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.media-details__cast-skeleton {
    min-width: clamp(7rem, 6.571rem + 2.143vw, 8.5rem);
    aspect-ratio: 2/3;
}

.media-details__cast-skeleton-poster {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-neutral-800);
    border-radius: var(--rounded-md);
    scroll-snap-align: start;
}

.media-details__cast-skeleton-poster::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='%239d9da4'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    opacity: 0.2
}

.media-details__cast-skeleton-line {
    height: 1rem;
    margin-inline: auto;
    border: 1px solid var(--color-neutral-800);
    border-radius: var(--rounded-md);
}

.media-details__cast-skeleton-line1 {
    width: 75%;
    margin-top: 0.5rem;
}

.media-details__cast-skeleton-line2 {
    width: 50%;
    margin-top: 0.5rem;
}

.media-details__cast-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(7rem, 6.571rem + 2.143vw, 8.5rem);
    scroll-snap-align: start;
}

.media-details__cast-photo {
    width: 100%;
    height: clamp(10rem, 9.286rem + 3.571vw, 12.5rem);
    border-radius: var(--rounded-md);
    object-fit: cover;
    object-position: center top;
}

.media-details__cast-photo--placeholder {
    border: 1px solid var(--color-neutral-300);
}

.media-details__cast-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    text-align: center;
}

.media-details__cast-character {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    min-height: 3em;
    overflow: hidden;
    text-align: center;
}

/* ---SEARCH--- */

.search {
    animation: content-reveal 0.6s forwards;
}

.search__header {
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.88),
            rgba(0, 0, 0, 0.55),
            transparent 55%),

        linear-gradient(to top,
            var(--color-neutral-950) 0%,
            color-mix(in srgb, var(--color-brand-500) 35%, var(--color-neutral-950)) 30%,
            color-mix(in srgb, var(--color-brand-500) 70%, transparent) 70%,
            transparent 100%),

        linear-gradient(to right,
            color-mix(in srgb, var(--color-brand-500) 80%, transparent),
            transparent 55%),

        linear-gradient(to left,
            color-mix(in srgb, var(--color-brand-500) 80%, transparent),
            transparent 55%),

        linear-gradient(to bottom,
            var(--color-brand-500),
            transparent 55%);
    padding: clamp(4.5rem, 3.786rem + 3.571vw, 7rem) 0 clamp(2rem, 1.429rem + 2.857vw, 4rem);
}

.search__bar {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 1rem;
    border: 1px solid var(--color-neutral-800);
    border-radius: var(--rounded-lg);
    background-color: var(--color-neutral-900);
    cursor: text;
}

.search__input {
    flex: 1;
    min-width: 0;
    margin-left: 0.5rem;
    padding-block: 1rem;
    outline: none;
}

.search__action-btn {
    flex-shrink: 0;
    display: none;
    width: clamp(1.125rem, 1.018rem+0.536vw, 1.5rem);
    height: auto;
    margin-left: 0.5rem;
}

.search__action-btn.is-visible {
    display: block;
}

.search__clear-icon,
.search__spinner {
    display: none;
}

.search__action-btn:not(.is-loading) .search__clear-icon {
    display: block;
}

.search__action-btn.is-loading .search__spinner {
    display: block;
    width: clamp(1.125rem, 1.018rem + 0.536vw, 1.5rem);
    height: clamp(1.125rem, 1.018rem + 0.536vw, 1.5rem);
    border: 3px solid var(--color-neutral-600);
    border-top-color: var(--color-brand-500);
    border-radius: var(--rounded-circle);

    animation: spin 1s linear infinite;
}

.search__marketing {
    @apply content-padding;
    margin-top: 5rem;
}

.search__marketing.is-hidden {
    display: none;
}

.search__marketing-heading {
    max-width: 16ch;
    margin-inline: auto;
    text-align: center;
}

.search__marketing-highlight {
    background: linear-gradient(90deg,
            hsl(280, 65%, 50%) 0%,
            var(--color-brand-400) 50%,
            var(--color-brand-300) 100%);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.search__empty-state {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: clamp(2rem, 1.429rem + 2.857vw, 4rem);
    text-align: center;
}

.search__empty-state.is-visible {
    display: flex;
}

.search__empty-icon {
    width: clamp(4rem, 3rem + 2vw, 5rem);
    height: clamp(4rem, 3rem + 2vw, 5rem);
}

.search__empty-message {
    margin-top: -0.5rem;
    color: var(--color-neutral-400)
}

.search__empty-query {
    display: block;
    color: var(--color-brand-400)
}

.search__empty-suggestion {
    max-width: 24ch;
}

.search__results {
    display: none;
    @apply content-padding
}

.search__results.is-visible {
    display: block;
}

.search__results:has(.media-card__skeleton) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(7rem, 5.857rem + 5.714vw, 11rem), 1fr));
    gap: 1.5rem;
    padding-block: 1.25rem;
    margin-top: -1.25rem;
    animation: content-reveal 1s ease;
}

.search__results-heading {
    margin-bottom: clamp(1rem, 0.714rem + 1.429vw, 2rem);
}

.search__results-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(7rem, 5.857rem + 5.714vw, 11rem), 1fr));
    gap: 1.5rem;
    padding-block: 1.25rem;
    margin-top: -1.25rem;
    animation: content-reveal 1s ease;
}

.search__results-list> :nth-child(n) {
    width: 100%;
}

.search__results-load-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.search__results-load-btn {
    min-width: 14.375rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem 1rem;
}

.search__results-load-btn.is-loading {
    background-image: linear-gradient(90deg,
            rgba(20, 20, 20, 1) 15%,
            color-mix(in srgb, var(--color-brand-500) 50%, transparent) 50%,
            rgba(20, 20, 20, 1) 85%);

    background-size: 200% 100%;
    cursor: default;
    pointer-events: none;
    animation: shimmer-move 3s infinite linear;
}

.search__results-load-error {
    margin-block: 0.5rem;
    color: var(--color-error-500);
    text-align: center;
}


/* ---WATCHLIST---*/


.watchlist {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-neutral-950);
    animation: content-reveal 0.6s forwards;
}

.watchlist__header {
    display: contents;
}

.watchlist__heading {
    position: relative;
    z-index: 51;
    padding-top: clamp(4rem, 3.429rem + 2.857vw, 6rem);
    @apply content-padding;
    animation: content-reveal 0.6s forwards;
}

.watchlist__nav {
    display: none;
    gap: 1rem;
    position: sticky;
    top: var(--site-header-height);
    z-index: 50;
    margin-top: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
    @apply content-padding;
    padding-bottom: 1rem;
}

.watchlist__nav::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(-1 * clamp(4rem, 3.429rem + 2.857vw, 6rem));
    bottom: 0;
    z-index: -1;
    background-color: color-mix(in srgb, var(--color-neutral-950) 90%, transparent);
    backdrop-filter: blur(12px);
    pointer-events: none;
}

.watchlist__nav.is-visible {
    display: grid;
}

.watchlist__nav> :nth-child(n) {
    animation: content-reveal 0.6s forwards;
}

.watchlist__search-bar-container {
    justify-self: stretch;
}

.watchlist__search-bar {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border: 2px solid var(--color-neutral-800);
    border-radius: var(--rounded-md);
    background-color: var(--color-neutral-900);
    cursor: text;
}

.watchlist__search-input {
    flex: 1;
    min-width: 0;
    margin-left: 0.5rem;
    padding-block: 0.5rem;
    outline: none;
}

.watchlist__search-action-btn {
    flex-shrink: 0;
    display: none;
    width: clamp(1.125rem, 1.018rem+0.536vw, 1.5rem);
    height: auto;
    margin-left: 0.5rem;
}

.watchlist__search-action-btn.is-visible {
    display: block;
}

.watchlist__search-clear-icon,
.watchlist__search-spinner {
    display: none;
}

.watchlist__search-action-btn:not(.is-loading) .watchlist__search-clear-icon {
    display: block;
}

.watchlist__search-action-btn.is-loading .watchlist__search-spinner {
    display: block;
    width: clamp(1.125rem, 1.018rem + 0.536vw, 1.5rem);
    height: clamp(1.125rem, 1.018rem + 0.536vw, 1.5rem);
    border: 3px solid var(--color-neutral-600);
    border-top-color: var(--color-brand-500);
    border-radius: var(--rounded-circle);
    animation: spin 1s linear infinite;
}

.watchlist__tabs-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.watchlist__sort {
    justify-self: flex-end;
    position: relative;
}

.watchlist__sort-btn {
    justify-content: space-between;
    gap: 0.5rem;
    box-sizing: border-box;
    min-width: 16rem;
    padding-block: 0.5rem;
    border-width: 2px;
    border-color: var(--color-neutral-800);
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.watchlist__sort-btn.is-active {
    border-color: var(--color-brand-500);
}

.watchlist__sort-value {
    margin-left: 0.25rem;
    animation: content-reveal 0.6s forwards;
}

.watchlist__sort-btn-icon {
    width: 1.5rem;
    height: auto;
    opacity: 1;
    transition: opacity 0.15s ease;
}

.watchlist__sort-btn-icon.is-fading {
    opacity: 0;
}

.watchlist__sort-select {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid var(--color-neutral-800);
    border-radius: var(--rounded-lg);
    background-color: var(--color-neutral-900);
    backdrop-filter: blur(8px);
    animation: content-reveal 0.2s forwards;
}

.watchlist__sort-select.is-clicked {
    display: flex;
}

.watchlist__sort-select> :nth-child(n) {
    padding-inline: 1rem;
    cursor: pointer;
}

.watchlist__sort-select> :first-child {
    padding-top: 1rem;
}

.watchlist__sort-select> :last-child {
    padding-bottom: 1rem;
}

.watchlist__sort-select-option.is-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semibold);
    color: var(--color-brand-400)
}

.watchlist__content {
    @apply content-padding;
}

.watchlist__content:not(:has(.watchlist__media.is-visible)),
.watchlist__content:has(.watchlist__media.has-no-results) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist__empty {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--color-neutral-500)
}

.watchlist__empty.is-visible {
    display: flex;
}

.watchlist__media {
    display: none;
    margin-top: 2rem;
}

.watchlist__media.is-visible {
    display: block;
}

.watchlist__media-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(7rem, 5.857rem + 5.714vw, 11rem), 1fr));
    gap: 1.5rem;
    padding-block: 1.25rem;
    margin-top: -1.25rem;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.watchlist__media-list.is-changing {
    opacity: 0;
}

.watchlist__media-list> :nth-child(n) {
    width: 100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.watchlist__media-list> :nth-child(n).is-removed {
    opacity: 0;
    transform: scale(0.9);
}

.watchlist__no-results-title {
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
}


/* ---ERROR--- */

.site-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-height: 100dvh;
    padding-block: clamp(1rem, 0.714rem + 1.429vw, 2rem);
    padding-inline: clamp(0.25rem, -0.25rem + 2.5vw, 2rem);
    text-align: center;
}

.site-error--inline {
    min-height: auto;
}

.site-error__icon {
    width: clamp(5rem, 4.643rem + 1.786vw, 6.25rem);
    height: auto;
    fill: var(--color-brand-500);
    stroke: var(--color-brand-500);
}

.site-error__retry-btn {
    margin-top: 1rem;
}


/* ---NOTICE--- */

.notice {
    position: fixed;
    top: 5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem 1.25rem;
    border: 2px solid var(--color-border);
    border-radius: var(--rounded-lg);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 1000;
    opacity: 0;
    transform: translateY(-12px);
    pointer-events: none;

    transition:
        opacity 250ms ease,
        transform 250ms ease;
}

.notice.is-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.notice--error {
    border-color: var(--color-error-950);
    color: var(--color-error-50);
    background-color: color-mix(in srgb, var(--color-error-700) 30%, transparent 90%);
}

.notice__icon {
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

.notice__icon--error {
    fill: var(--color-error-50);
}

/* ---RESPONSIVE--- */

@media (min-width: 500px) {
    .featured__link {
        align-items: flex-start;
    }

    .featured__header {
        align-items: flex-start;
    }

    .featured__overview {
        text-align: left;
    }

    .featured__actions {
        flex-direction: row;
    }

    .media-details.has-poster-backdrop::after {
        background-size: contain;
        background-position: right;
    }

    .media-details__header {
        text-align: left;
    }

    .media-details__title-container {
        margin-inline: 0
    }

    .media-details__meta-row {
        justify-content: flex-start;
    }

    .media-details__genres {
        justify-content: left;
    }

    .media-details__actions {
        align-self: flex-start;
        flex-direction: row;
    }
}

@media (min-width: 580px) {
    .watchlist__nav {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    .watchlist__search-bar-container {
        grid-column: 1 / -1;
    }
}

@media (min-width: 680px) {
    .media-details {
        align-items: flex-start;
    }

    .media-details__content {
        align-items: flex-start;
    }

    .media-details__crew-section {
        flex-direction: row;
        gap: 0;
    }

    .media-details__crew-divider {
        display: block;
        width: 1px;
        height: auto;
        margin-inline: 1rem;
        background-color: var(--color-neutral-600);
    }
}

@media (min-width: 768px) {

    .site-mobile-navigation {
        display: none
    }

    .featured__link {
        padding-top: 3.5rem;
    }

    .featured__meta {
        gap: 0.75rem;
    }

    .featured:not(:has(.featured__item-skeleton)) .featured__slider-scroll-container {
        display: block;
    }

    .search__results-load-wrapper {
        padding-bottom: 2rem;
    }

}

@media (min-width: 1024px) {
    .watchlist__nav {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
    }

    .watchlist__tabs-container {
        grid-column: 1;
        grid-row: 1;
    }

    .watchlist__search-bar-container {
        grid-column: 2;
        grid-row: 1;
        justify-self: flex-end;
        min-width: 50%;
    }

    .watchlist__sort {
        grid-column: 3;
        grid-row: 1;
        justify-self: auto;
    }
}

@media (min-width: 1440px) {
    .featured__link.has-backdrop::before {
        background-image:
            linear-gradient(to bottom, var(--color-neutral-950), transparent 60%),
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.92),
                rgba(0, 0, 0, 0.82),
                rgba(0, 0, 0, 0.45),
                transparent 60%),
            var(--bg-backdrop);
    }

    .featured__meta {
        color: var(--color-neutral-400) !important
    }

    .media-details.has-backdrop::after,
    .media-details.has-poster-backdrop::after {
        background-image:
            linear-gradient(90deg,
                rgba(0, 0, 0, 0.92),
                rgba(0, 0, 0, 0.82),
                rgba(0, 0, 0, 0.45),
                transparent 80%),
            var(--bg-backdrop);
    }

}


@utility content-padding {
    padding-inline: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
}

@utility nav-item--active {
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-body) !important;
}

@utility filter-tab {
    @apply movies:block tv-shows:block hidden px-3 py-2 rounded-(--rounded-pill) text-(--color-disabled) font-medium leading-ui bg-secondary-btn backdrop-blur-sm border border-solid border-neutral-500
}

@utility filter-tab--active {
    @apply bg-primary-btn shadow-primary-btn text-body border-brand-600
}

@utility watchlist__tab {
    @apply px-3 py-2 rounded-(--rounded-pill) text-(--color-disabled) font-medium leading-ui bg-secondary-btn backdrop-blur-sm border border-solid border-neutral-500
}

@utility watchlist__tab--active {
    @apply bg-primary-btn shadow-primary-btn text-body border-brand-600
}